body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-color{
    color: orange;
}
p{
    text-align: justify;
}
section{
    display: flex;
    margin-left: 30px;
    margin-bottom: 150px;

}
.helf{
    width: 50%;
    margin-left: 50px;  
}

.helf img{
    width: 50%;
    
}
.hireme{
    text-decoration: none;
    background-image: linear-gradient(orange rgb(255, 115, 0));
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    background-color: darksalmon;
}
.top-bannar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.midil-bannar{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}